@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff2') format('woff2'),
         url('../fonts/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*:not(i){
    font-family: 'Vazir' !important;
}
.text-right{
    text-align: right !important;
}
.rtl{
    display: flex !important;
    flex-direction: row-reverse !important;
}
.logo_h{
    padding-left: 20px;
}
.dropdown-menu{
    left: -75px !important;
}
#contact{
    padding-right: 30px;
}
.rtl-text{
    display: flex !important;
}
.drtl{
    direction: rtl;
}

#content-wrapper {
    left: -247px !important;
    position: absolute !important;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    width: 300px;
}
.sidebar .nav.sub-menu .nav-item {
    margin-right: -48px;
}
.sidebar .nav.sub-menu .nav-item .nav-link {
    position: inherit;
}
#role{
    color: rgba(235, 16, 16, 0.4);
}
div > i {
    padding: 0 5px;
}
.nav-link::before{
    content: none !important;
}