<nav class="sidebar sidebar-offcanvas">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link d-flex flex-row-reverse" href="index.html">
        <span class="menu-title pl-5">صفحه اصلی</span>
        <i class="mdi mdi-home menu-icon pr-3"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-row-reverse" data-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic">
      <span class="menu-title pl-5">مدیریت پست ها</span>
      <i class="mdi mdi-developer-board menu-icon pr-3"></i>
    </a>
      <div class="collapse drtl text-right" id="ui-basic">
        <ul class="nav flex-column sub-menu drtl">
          <li class="nav-item drtl">
            <a class="nav-link" href="pages/ui-features/buttons.html"
              >ارسال پست جدید</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link drtl"
              href="pages/ui-features/typography.html"
              >مشاهده پست ها</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-row-reverse">
        <span class="menu-title pl-5">مدیریت کاربران</span>
        <i class="mdi mdi-contacts menu-icon pr-3"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-row-reverse">
        <span class="menu-title pl-5">تنظیمات</span>
        <i class="mdi mdi-format-list-bulleted menu-icon pr-3"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-row-reverse">
        <span class="menu-title pl-5">آمار سایت</span>
        <i class="mdi mdi-chart-bar menu-icon pr-3"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-row-reverse">
        <span class="menu-title pl-5">لیست تراکنش </span>
        <i class="mdi mdi-table menu-icon pr-3"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-row-reverse" data-toggle="collapse"
        href="#ui-basic1"
        aria-expanded="false"
        aria-controls="ui-basic">
      <span class="menu-title pl-5"> حریم خصوصی</span>
      <i class="mdi mdi-lock menu-icon pr-3"></i>
    </a>
      <div class="collapse drtl text-right" id="ui-basic1">
        <ul class="nav flex-column sub-menu drtl">
          <li class="nav-item drtl">
            <a class="nav-link" href="pages/ui-features/buttons.html"
              >تایید دو مرحله ای</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link drtl"
              href="pages/ui-features/typography.html"
              >ارسال پیامک</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-row-reverse">
        <span class="menu-title pl-5">سازنده:افشین توکلیان</span>
        <i class="mdi mdi-table menu-icon pr-3"></i>
      </a>
    </li>
  </ul>
</nav>